<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    {% block styles %}{% endblock %}
</head>
<body>
    <!--    DIV CENTRAL    -->
    <div id="container">
        <!--DIV FICHA DE COMPENSACAO-->
    {% block container %}{% endblock %}
</div>
</body>
</html>